/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

@media only screen and (min-width: 300px) {
 body {
    margin-bottom: 118px;
  }  
}

@media only screen and (min-width: 481px) {
 body {
    margin-bottom: 82px;
  }  
}

@media only screen and (min-width: 992px) {
  body {
    margin-bottom: 42px;
  }  
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: #70A107;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


body > .container {
  padding: 60px 15px 0;
  
}

.navbar-toggle{
  float: left;
  margin-right: 5px;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* Remove border bottom navbar Bootstrap */
.navbar{
  border: 0;
}

.navbar-brand{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  float: left;
}

.navbar-nav>li.active{
  font-weight: bold;
}

.navbar-brand img{
  height: 40px;
  width: auto;
}

.footer-text{
  margin: 10px;
  float: right;
}

a .flag-image {
  float: right;
  margin: 15px 5px 15px 2px;
}

#subscribe-btn{
  float: left;
  margin: 4px;
}

.social{
  margin: 3px;
  float:right;
}

.social img{
  background-color: white;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin: 2px;
  text-decoration: none;
  border-radius: 5px;
}

.social img:hover{
  opacity: 0.7;
}

/* Modal style*/
.modal-header{
  background-color: #70A107;
}

.modal-footer{
  background-color: #eee;
}

ul.dropdown-menu > li > a {
  border-bottom: 0;
}


/* Language flags MENU */
a.lang-selected{
  pointer-events: none; 
}

a.lang-selected > img {
    opacity:0.3;  
}

/*.navbar-default .navbar-nav>li>a:hover{
  background-color: #70A107;
  color: white;
}*/